---
interface Props {
  href: string;
  class: string;
}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isCurrent = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { "is-active": isCurrent }]} aria-current={isCurrent ? "page" : false} {...props}>
  <slot />
</a>

<style></style>
