<footer class="footer">
  <div class="footer__inner" data-container>
    <p class="copyright"><small lang="en">© <time>2024</time> <span class="copyright__name">Shibata Hironori</span></small></p>
  </div>
</footer>

<style></style>
