---
// Astro
// import { Picture } from "astro:assets";

// Layout
import Layout from "@layouts/Layout.astro";
---

<Layout title="Astro" description="ページ紹介文">
  <main>
    <div class="container">
      <h1 data-font="fluid-[20,80]" data-text="center">Astro</h1>
    </div>
  </main>
</Layout>

<style></style>
