:root {
  /* tool */
  --torem: calc(1rem / 16);
  --torlh: calc(1rlh / 16);
  --tovi: calc(100vi / var(--viewport));
  --tovi-sm: calc(100vi / var(--design-widith-sm));
  --tovi-md: calc(100vi / var(--design-widith-md, 768));
  --tovi-lg: calc(100vi / var(--design-widith-lg));
  --tovw-sm: calc(100vw / var(--design-widith-sm));
  --tovw-md: calc(100vw / var(--design-widith-md, 768));
  --tovw-lg: calc(100vw / var(--design-widith-lg));
  --toremvw: calc((var(--torem) * 0.5) + (var(--viewport) * 0.5));
  --toremvi-sm: calc((var(--torem) * 0.5) + (var(--tovi-sm) * 0.5));
  --toremvi-md: calc((var(--torem) * 0.5) + (var(--tovi-md) * 0.5));
  --toremvi-lg: calc((var(--torem) * 0.5) + (var(--tovi-lg) * 0.5));
  --design-ratio: calc(100% / var(--viewport));

  /* Viewport */
  --min-viewport: 375;
  --max-viewport: 1440;

  /* Design */
  --design-widith-sm: 375;
  /* --design-widith-md: 768; */
  --design-widith-lg: 1440;

  /* Color */
  --color-blue-50: #1e1a07;
  --color-grey: #b5b4ac;


  --base-background-color: #fff;
  --base-color: var(--color-dark);

  /* Font Family */
  --font-sans-ja: "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", "Meiryo", sans-serif;
  --font-sans-en: "Montserrat", "Helvetica Neue", "Arial", system-ui, sans-serif;
  --font-sans-mix: "Montserrat", "Noto Sans JP", sans-serif;
  --base-font-family: var(--font-sans-ja);

  /* Font Size */
  --font-base: 16;
  --font-ratio: 8;
  --font-2xs: calc(var(--font-base) * var(--font-ratio) / 12 * var(--torem));
  --font-xs: calc(var(--font-base) * var(--font-ratio) / 10 * var(--torem));
  --font-sm: calc(var(--font-base) * var(--font-ratio) / 9 * var(--torem));
  --font-md: calc(var(--font-base) * var(--font-ratio) / 8 * var(--torem));
  --font-lg: calc(var(--font-base) * var(--font-ratio) / 7 * var(--torem));
  --font-xl: calc(var(--font-base) * var(--font-ratio) / 5 * var(--torem));
  --font-2xl: calc(var(--font-base) * var(--font-ratio) / 3 * var(--torem));

    /* Font Size */
  --font-fluid-xs: fluid(10.667px 12.8px);
  --font-fluid-sm: fluid(14.222px 16px);
  --font-fluid-md: fluid(16px 18.286px);
  --font-fluid-lg: fluid(18px 21.333px);
  --font-fluid-xl: fluid(25.6px 32px);
  --font-fluid-2xl: fluid(32px 42.667px);
  --font-fluid-3xl: fluid(42.667px 64px);

  /* Line Height */
  --leading-base: 4;
  --leading-xs: calc(var(--leading-base) * 3 * var(--torem));
  --leading-sm: calc(var(--leading-base) * 4 * var(--torem));
  --leading-md: calc(var(--leading-base) * 5 * var(--torem));
  --leading-lg: calc(var(--leading-base) * 6 * var(--torem));
  --leading-xl: calc(var(--leading-base) * 7 * var(--torem));
  --leading-2xl: calc(var(--leading-base) * 8 * var(--torem));
  --leading-3xl: calc(var(--leading-base) * 9 * var(--torem));
  --leading-4xl: calc(var(--leading-base) * 10 * var(--torem));
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.75;
  --leading-loose: 2;

  /* Letter Spacing */
  --tracking-tigher: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: normal;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  /* Container Size & Offset */
  --container-size-4xs: 460px;
  --container-size-3xs: 480px;
  --container-size-2xs: 600px;
  --container-size-xs: 640px;
  --container-size-sm: 768px;
  --container-size-md: 1200px;
  --container-size-lg: 1440px;
  --container-size-xl: 1500px;
  --container-size-2xl: 1640px;
  --offset-xs: 1.5vw;
  --offset-sm: 2.8vw;
  --offset-md: 5.5vw;
  --offset-lg: 7.3vw;
  --offset-xl: 13vw;

  /* Space */
  --space-base: 8;
  --space-2xs: calc(var(--space-base) * var(--torem));
  --space-xs: calc(var(--space-base) * 2 * var(--torem));
  --space-sm: calc(var(--space-base) * 3 * var(--torem));
  --space-md: calc(var(--space-base) * 5 * var(--torem));
  --space-lg: calc(var(--space-base) * 8 * var(--torem));
  --space-xl: calc(var(--space-base) * 13 * var(--torem));

  /* Radius */
  --radius-sm: 1rem;
  --radius-md: 2rem;
  --radius-lg: 2.5rem;
  --radius-full: 50%;

  /* Grid */
  --grid-fit-sm: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  --grid-fit-md: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  --grid-fit-lg: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  --grid-fill-sm: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
  --grid-fill-md: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
  --grid-fill-lg: repeat(auto-fill, minmax(min(400px, 100%), 1fr));

  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));

  /* Arrow */
  --arrow-width: 10%;

  --arrow-prev: polygon(
    75% var(--arrow-width),
    calc(75% - var(--arrow-width)) 0,
    calc(25% - var(--arrow-width)) 50%,
    calc(75% - var(--arrow-width)) 100%,
    75% calc(100% - var(--arrow-width)),
    calc(25% + var(--arrow-width)) 50%,
    75% var(--arrow-width)
  );

  --arrow-next: polygon(
    25% var(--arrow-width),
    calc(25% + var(--arrow-width)) 0,
    calc(75% + var(--arrow-width)) 50%,
    calc(25% + var(--arrow-width)) 100%,
    25% calc(100% - var(--arrow-width)),
    calc(75% - var(--arrow-width)) 50%,
    25% var(--arrow-width)
  );
  --arrow-down: polygon(
    var(--arrow-width) 25%,
    0 calc(25% + var(--arrow-width)),
    50% calc(75% + var(--arrow-width)),
    100% calc(25% + var(--arrow-width)),
    calc(100% - var(--arrow-width)) 25%,
    50% calc(75% - var(--arrow-width)),
    var(--arrow-width) 25%
  );



  /* Transition & Animation */
  --duration-fast: 0.3s;
  --duration-normal: 0.6s;
  --duration-slow: 1.6s;

  --ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
  --ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
  --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
  --ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
  --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);

  /* Viewport  */
  --viewport: var(--design-widith-sm);

  @media (--md) {
    --viewport: var(--design-widith-md, var(--design-widith-sm));
  }

  @media (--lg) {
    --viewport: var(--design-widith-lg);
  }
}
